.Main {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

.Overlay {
    background-color: rgba(0,0,0,0.5);
    width: 50%;
    height: 300px;
}

.Overlay input {
    flex-direction: column;
    flex-grow:0px;
}